.active {
    background-color: #76DBD1;
	float: right;
}

body {
background-color: #EFEFEF;
}
h1 {
	text-align: center;
	color: #000000;
	font-size: 45px;
	border-width: 5px;
	border-style: ridge;
	border-color: black;
	border-radius: 15px;
}
button {
	background-color: #000000;
	border-radius: 10px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 20px;
}
input {
	border-radius: 10px;
	font-size: 20px;
}
select {
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}
header {
	text-align: center;
	color: #000000;
	font-size: 50px;
	border-width: 5px;
	border-style: ridge;
	border-color: black;
	border-radius: 15px;
}
p{
	font-size: 20px;
}	
li {
	font-size: 20px;
}


/* Barre de navigation*/
nav {
	position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}



nav li {
    border-right: 1px solid #bbb;
}

nav li:last-child {
    border-right: 1px solid #bbb;
}

/* Footer */

footer {
	bottom: 0;
	width: 100%;
	position: fixed;
}

footer li a {
	display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer li a:hover {
    background-color: #111;
}


/* Mentions légales */

table, td{
    border: 3px solid;
}
thead {
	font-size: 25px;
}
tr:first-child {
	font-weight:bold;
}
