/* Style de base */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.active {
    background-color: #76DBD1;
	float: right;
}

body {
background-color: #EFEFEF;
}
h1 {
	text-align: center;
	color: #000000;
	font-size: 45px;
	border-width: 5px;
	border-style: ridge;
	border-color: black;
}
button {
	background-color: #000000;
	border-radius: 10px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 20px;
}
input {
	border-radius: 10px;
	font-size: 20px;
}
select {
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}
header {
	position: relative;
    top: 0;
    width: 100%;
}
p{
	font-size: 20px;
	padding: 15px;
}	
li {
	font-size: 20px;
}
ul {
	padding: 15px
}
/* Footer */
footer {
  background-color: #c44536;
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer p {
  text-align: center;
  color: #F2F2F2;
  font-size: 25px
}

footer li a {
	float: right;
	color: #F2F2F2;
	font-size: 25px;
	text-align: center;
	display: block;
}
footer li a:hover {
    background-color: #772e25;
}

/* Classes d'erreurs */
.error {
	color: red;
}
.right {
	color: green;
}

/* Tables */

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table, td{
    border: 2px solid;
	text-align: center;
}

thead {
	font-size: 25px;
}

tr:first-child {
	font-weight:bold;
}

/* Barre de navigation*/
header {
	  position: relative;
    top: 0;
    width: 100%;
  
}

nav ul li p {
   display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c44536;
}

nav li {
   padding: auto;
}

nav li a {
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    float: right
}

nav li a:hover {
    background-color: #772e25;
}



nav li a {
    border-left: 1px solid #F2F2F2;
}

nav li a:last-child {
    border-left: 1px solid #F2F2F2;
}
