/* Base style */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.active {
    background-color: #76DBD1;
	float: right;
}

/* Main style */
body {
background-color: #EFEFEF;
}
h1 {
	text-align: center;
	color: #000000;
	font-size: 45px;
	border-width: 5px;
	border-style: ridge;
	border-color: black;
}
button {
	background-color: #000000;
	border-radius: 10px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 20px;
}
input {
	border-radius: 10px;
	font-size: 20px;
}
select {
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}
header {
	position: relative;
    top: 0;
    width: 100%;
}
p{
	font-size: 20px;
	padding: 15px;
}	
li {
	font-size: 20px;
}
ul {
	padding: 15px
}

/* Footer */
footer {
  background-color: #c44536;
  bottom: 0;
  position: block;
  width: 100%;
}

footer p {
  text-align: center;
  color: #F2F2F2;
  font-size: 25px
}

footer li a {
	float: right;
	color: #F2F2F2;
	font-size: 25px;
	text-align: center;
	display: block;
}
footer li a:hover {
    background-color: #772e25;
}

/* Error clases */
.error {
	color: red;
}
.right {
	color: green;
}

/* Tables */

table{
    border-collapse: collapse;
}
thead {
	font-size: 25px;
	border: 2px solid;
	font-weight:bold;
	text-align: center;
}

.salle {
  padding-top: 5%;
  margin-left: 0 auto;
}

th{
    padding: 20px;
    border: 3px solid purple;
    text-align: center;
}

td {
    font-size: 14px;
    padding: 20px;
    border: 2px solid purple;
    text-align: left;
    margin-left: 2px;
}

tbody {
	overflow-x: hidden;
	overflow-y: scroll;
	padding : 0 0 0 30px;
}
.capteur{
  width: 30%;
  display: inline-block;
}
.INFO, .RT {
  width: 30%;
  border-collapse: collapse;
  display: inline;
  margin-left: 4%;
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
}

/* Navigation bar */
header {
	position: relative;
    top: 0;
    width: 100%;
  
}

nav ul li p {
   display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c44536;
}



nav li a {
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    float: right
}

nav li a:hover {
    background-color: #772e25;
}



nav li a {
    border-left: 1px solid #F2F2F2;
}

nav li a:last-child {
    border-left: 1px solid #F2F2F2;
}

